*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.flex {
  align-items: center;
  display: flex;
}

.jc {
  &-sb {
    justify-content: space-between;
  }
  &-c {
    justify-content: center;
  }
}
body {
  font-family: futura, sans-serif;
  background-color: $clrbg;
}

a {
  text-decoration: none;
}
@mixin breakpoints_up($size) {
  @media (min-width: map-get($breakpoints_up, $size)) {
    @content;
  }
}

@mixin breakpoints_down($size) {
  @media (max-width: map-get($breakpoints_down, $size)) {
    @content;
  }
}
