.navbar {
  padding: 30px 100px;

  & .menu {
    max-width: 250px;
    width: 60%;
    ul li {
      list-style: none;
    }
  }
  & .logo {
    h4 {
      font-size: $font-m;
    }
  }
}

.toggle {
  > span {
    display: block;
    height: 3px;
    width: 35px;
    border-radius: 10px;
    background-color: black;
  }
  span:not(:last-child) {
    margin-bottom: 3px;
  }
}
